@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2{
    @apply font-bold;
    @apply text-4xl;
    @apply mb-4;
    @apply mt-6;
    @apply text-indigo-900;
  }

  h3 {
    @apply font-bold;
    @apply text-xl;
    @apply mt-3;
  }

  ul {
    @apply list-inside;
    @apply list-disc;
  }

  input, textarea {
    @apply rounded-none;
    @apply py-1;
    @apply px-2;
    @apply outline;
    @apply outline-2;

    @apply outline-btn-background;
    @apply focus:outline-2;
    @apply focus:outline-btn-background-hover;
  }

  select {
    @apply py-1;
    @apply px-2;
  }

  input[type="checkbox"] {
    margin-right: 8px;
    @apply h-4;
    @apply w-4;
  }

  .label-like-h3 {
    @apply font-bold;
    @apply text-xl;
    @apply mt-3;
  }

  .divider {
    @apply w-full;
    @apply border;
    @apply mt-3;
  }

  .nav-button {
    @apply py-2;
    @apply px-3;
    @apply flex;
    @apply rounded-md;
    @apply no-underline;
    @apply border-2;
    @apply border-indigo-800;
    @apply text-indigo-800;
    @apply hover:bg-indigo-200;
  }

  /* flat: can be a submit-button or gray-button */
  .flat-button {
    @apply text-foreground;
    @apply px-4;
    @apply py-2;
    @apply rounded-md;
    @apply no-underline;
  }

  .submit-button {
    @apply bg-indigo-300;
    @apply hover:bg-indigo-400;
  }

  .gray-button {
    @apply bg-btn-background;
    @apply hover:bg-btn-background-hover;
  }

  /* todo: can be a done-button or skip-button */
  .todo-button {
    @apply text-sm;
    @apply py-1;
    @apply px-2;
    @apply rounded-md;
    @apply no-underline;
    @apply border-2;
    @apply mr-2;
  }

  .done-button-colors {
    @apply border-amber-400;
    @apply text-amber-400;
    @apply hover:bg-amber-100;
  }

  .skip-button-colors {
    @apply border-neutral-300;
    @apply text-neutral-300;
    @apply hover:bg-neutral-100;
  }

  .done-input {
    @apply text-sm;
    @apply outline-amber-400/[.30];
    @apply focus:outline-2;
    @apply focus:outline-amber-400;
    @apply mr-2;
  }

  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 81%;
    --foreground: 200 50% 3%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}
